
*{
margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
font-size: large;
overflow-y: auto; /* Hide vertical scrollbar */
overflow-x: auto; 

}


.home{

    background-color: var(--main-color);
    height: 100%;
    width: 100%; 
   
}
 