.card {
    height: 450px;
    width:350px;
    border-style: double;
    border-color: white;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.container {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 95%;
    margin-top: 5px;
}

ul {
    list-style: circle;
    padding: 0px;
}

li {
    margin-top: 5px;
}

.card p {
    margin-left: 10px;
    margin-right: 10px;
}

.container h1 {
    margin-top: 40px;
    margin-bottom: 60px;
}